{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-outline-success">{{ button_label|default('Enregistrer') }}</button>
    <a class="btn btn-outline-primary mx-1" href="{{ path('app_lecon_index') }}">Retour</a>
{{ form_end(form) }}
