{% extends 'base.html.twig' %}

{% block title %}Lecon index{% endblock %}

{% block body %}

    <div class="container">
        <table class="table table-bordered">
            <thead>
            <tr>

                <th>Nom</th>
                <th>Description</th>
                <th>Professeur</th>
                <th>actions</th>
                <th>statut</th>
            </tr>
            </thead>
            <tbody>
            {% for lecon in lecons %}
                <tr>

                    <td>{{ lecon.nom }}</td>

                    <td>{{ lecon.description | u.truncate(100,' ...',false) | markdown | raw }}</td>
                    <td>{{ lecon.professeur.nom }}</td>


                    <td>
                        <div class="d-flex justify-content-between">
                            <button onclick="location.href='{{ path('app_lecon_show', {'id': lecon.id}) }}'"
                                    class="btn btn-outline-primary  mx-1">Consulter
                            </button>

                            {% if is_granted('IS_AUTHENTICATED_FULLY') and lecon.professeur  == app.user or is_granted('ROLE_ADMIN') %}
                                <button onclick="location.href='{{ path('app_lecon_edit', {'id': lecon.id}) }}'"
                                        class="btn btn-outline-secondary mx-1">Modifier
                                </button>
                                {{ include('lecon/_delete_form.html.twig') }}
                            {% endif %}
                            <button onclick="location.href='{{ path('app_lecon_inscription', {'id': lecon.id}) }}'"
                                    class="btn btn btn-outline-info mx-1">Inscription
                            </button>
                            <button onclick="location.href='{{ path('app_lecon_desinscription', {'id': lecon.id}) }}'"
                                    class="btn btn btn-outline-info mx-1">Desinscription
                            </button>
                            <button onclick="location.href='{{ path('app_lecon_participants', {'id': lecon.id}) }}'"
                                    class="btn btn-outline-dark mx-1">Participants
                            </button>


                        </div>

                    </td>
                    <td>{{ lecon.statut }}</td>
                </tr>

            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            <div class="container" style="padding-top: 10px">
                <div class="row">
                    <div class="col-md-12">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                {{ knp_pagination_render(lecons,'twitter_bootstrap_v4_pagination.html.twig') }}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>


            </tbody>
        </table>
    </div>
{% endblock %}
