{% extends 'base.html.twig' %}

{% block title %}Lecon{% endblock %}

{% block body %}

    <div class="container">
        <h1>Leçon</h1>

        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lecon.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ lecon.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ lecon.description | markdown | raw }}</td>
            </tr>
            <tr>
                <th> Professeur</th>
                <td>{{ lecon.professeur.nom }}</td>
            </tr>
            <tr>

                <th>Participants</th>
                <td>
                    {% for p in participants %}
                    {{ p.nom }} ,
                    {% else %}
                Aucun participant

                {% endfor %}

                </td>


            </tr>
            </tbody>
        </table>

        <div>
            <button onclick="location.href='{{ path('app_lecon_index') }}'" class="btn btn-outline-primary">Retour
            </button>


        </div>
    </div>
{% endblock %}
