{% extends 'base.html.twig' %}

{% block title %}Lecon{% endblock %}

{% block body %}
    <h1>Leçon</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lecon.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ lecon.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ lecon.description | markdown | raw }}</td>
            </tr>
            <tr>
                <th>Professeur</th>
                <td>{{ lecon.professeur.nom }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        <button onclick="location.href='{{ path('app_lecon_index') }}'" class="btn btn-outline-primary">Retour</button>

        <button onclick="location.href='{{path('app_lecon_edit', {'id': lecon.id}) }}'" class="btn btn-outline-success">Modifier</button>

    </div>
{% endblock %}
